/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #ff5e5e;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #ff5e5e;
    border-bottom: 2px solid #ff5e5e;
    padding-bottom: 5px;
}

ul, ol {
    margin-left: 20px;
}

dl dt {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

dl dd {
    margin-left: 20px;
    color: #666;
}

/* Estilos para listas */
ul, ol {
    list-style-position: inside;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

img {
    width: 100%;
    height: auto;
    border: 5px solid #333; /* Borde de 5px de color gris oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
